
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #520437;

    
}
.panel {
    border-radius: 20px;
    padding: 10px;
    background-color: blueviolet;
    
}


.todo{
    width: 30rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: plum;
    border: 5px solid rgb(3, 24, 94);
    border-radius: 30px;
}
#taskndate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;

    
}

#task{
    border-radius: 20px;
    border: 2px solid rgb(3, 24, 94);

}
#date{
    border-radius: 20px;
    border: 2px solid rgb(3, 24, 94);
}


#addtask {
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(191, 216, 223);
}


.txt {
    width: 5rem;
    height: 3rem;
    margin: 3px;
    padding: 3px;
}
#nametask, #datetask {
    line-height: 2px;
}

img {
    height: 30%;
    width: 10%;
}

img:hover {
    height: 50%;
    width: 20%;
}


.show {
    display: flex;  
    flex-direction: column;
}

.hide {
    display: none;  
}


#todolist{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width:50% ;
    justify-content: center;
    align-items: center;
}

#tasklist   {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 10px;
    border: 2px solid #520437;
    
}

/* Tablets and under */
@media (max-width:768px) {
    .txt {
        width: 3rem;
        height: 2rem;
        margin: 1px;
        padding: 1px;
    }
    #nametask, #datetask {
        align-items: center;
        display: flex;  
        font-size: 10px;
    }
    .panel {
        border-radius: 20px;
        padding: 5px;
        background-color: rgb(206, 172, 238);
        line-height: 3px;
        
    }
    .todo{
        width: 18rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        background-color: plum;
        border: 5px solid rgb(3, 24, 94);
        border-radius: 30px;
    
    }
    #title{
        font-size: medium;
        margin: 5px;
    }
    #what {
        display: none;
    }
    #task{
        border-radius: 20px;
        width: 70%;
        border: 2px solid rgb(3, 24, 94);
    
    }
    #date{
        width: 70%;
        border-radius: 20px;
        border: 2px solid rgb(3, 24, 94);
    }
    
    
    #addtask {
        border-radius: 20px;
        line-height: 7px;
        margin: 0;
        padding: 3px;
        background-color: rgb(165, 190, 196);
    }
    #remind{
        display: none;
    }
    #lremind{
        display: none;
    }
    #tasklist   {
            display: flex;
            flex-direction: row;
            height: 2rem;
            width: 10rem;
            }

    
}

      /* Mobile */
  
